*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Quicksand', sans-serif
}
.container{
    width: 80%;
    margin: auto;
}
.navigation{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul a{
    color: #a82d49;
    font-size: 17px;
    font-weight: bold;
    padding: 40px 12px 35px;
}
ul li.active a{
    background-color: #a82d49;
    color: #fff;
    border: 4px solid #a82d49;
    margin: 25px 0 0;
    padding: 10px 23px;
    transition: .5s linear;
}
ul li.active a:hover {
    border: 4px solid #a82d49;
    background-color: #fff;
    color: #a82d49;
}
.bar-item{
    display: none;
}
.fruit{
    background-image: url(../images/3.jpg);
    height: 90vh;
    width: 100%;
    background-size: contain;
    background-position:right;
    background-repeat: no-repeat;
    position: relative;
}
.head-left{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-80%,-80%);
    text-align: center;
    background-color:none;
    color: rgb(172, 30, 30);
    font-weight: bold;
}
.head-left h1{
    color: #43121d;
    font-size: 48px;
    margin: 10px 20px 25px;
    font-family: 'Quicksand', sans-serif
}
.head-left p{
    color: #555555;
    font-size: 16px;
    font-weight: lighter;
    margin: 0 100px 10px;
    padding: 0 0 13px;
    font-family: 'Quicksand', sans-serif
}
.head-left .btn a{
    display: flex;
    display: block;
    font-family: 'Quicksand', sans-serif;
    padding: 11px 18px;
    color: #fff;
    background-color:#2d85a8 ;
    border: 4px solid transparent;
    border-image: linear-gradient(-45deg,#ff0,#f0f,#f00,#00f,#0f0);
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-image-slice:1 ;
    margin-left:  230px;
    margin-right: 230px;
    margin-bottom: 20px;
    transition: .5s ;
}
.head-left .btn-2 a{
    display: block;
    font-family: 'Quicksand', sans-serif;
    padding: 11px 18px;
    color: #444444;
    background-color:rgb(226, 217, 217) ;
    border: 4px solid transparent;
    border-image: linear-gradient(-45deg,#ff0,#f0f,#f00,#00f,#0f0);
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-image-slice:1 ;
    margin-left:  230px;
    margin-right: 230px;
    margin-bottom: 20px;
    transition: .5s ;
}
.head-left .btn a:hover{
    background-color: #fff;
    border: 4px solid transparent;
    border-image: none;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-image-slice:1 ;
    color: #2d8da8;
}
.head-left .btn-2 a:hover{
    background-color: #fff;
    border: 3px solid #a82d49;
    color: #a82d49;
}
.all-box {
   display: flex;
   justify-content: space-between;
   background-color:#a82d49 ;
   padding: 50px 0;
}

.number{
    text-align: center;

}
.number-section{
    background: -webkit-linear-gradient(0deg, #823bd3 0%, #fc62af 100%);
    padding: 50px 0;
}
.number h1{
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}
.number p{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.img-item img{
    width: 100%;
    border-radius: 20px;
    
}
.img{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 100px 0 0;
    
}
.img-word{
    padding: 0 15px;
    align-items: center;
    margin: 150px 0;
    font-family: 'Quicksand', sans-serif;
}
.img-word h3{
    line-height:45px;
    color: #43121d;
    font-size: 32px;
    display: block;
}
.img-word p{
    color: #555555;
    font-size: 16px;
    margin: 0 0 10px;
    padding: 20px 0px;
}
.img-word a{
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: 4px solid transparent;
    border-image: linear-gradient(-45deg,#ff0,#f0f,#f00,#00f,#0f0);
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-image-slice:1 ;
    background-color: #2da881;
    padding: 11px 28px;
    text-align: center;
    margin-right: 180px;
    margin-left: 25px;
    transition: .5s ;
}
.img-word a:hover{
    background-color: #fff;
    border: 4px solid transparent;
    border-image: none;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-image-slice:1 ;
    color: #2da4a8;
}
.make{
    padding: 0 15px;
    margin-top: 50px;
    margin-right: 50px;
}
.make h3{
    color: #43121d;
    font-size: 32px;
}
.make p{
    color: #555;
    font-size: 16px;
    margin: 0 0 10px;
    padding: 20px 0;
    line-height: 1.5;
}
.make ul li{
    color: #555;
    font-size: 16;
    font-weight: bold;
    padding: 6px 0 9px 0;
}
.make li i{
    color: #a82d49;
    font-size: 25px;
    margin-right: 10px;
}
.btn-1{
    margin-top: 35px;
}
.btn-1 a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #54dbd5;
    border: 4px solid transparent;
    border-image: linear-gradient(-45deg,#ff0,#f0f,#f00,#00f,#0f0);
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-image-slice:1 ;
    padding: 11px 28px;
    transition: .5s;
}
.btn-1 a:hover{
    background-color:rgb(226, 217, 217) ;
    border: 4px solid transparent;
    border-image: none;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-image-slice:1 ;
    color: #a82d49;
}
.img-fruit img{
    width: 100%;
}
.bg-img{
    background:url(http://demo.tutsflow.com/foodera/images/parallax/1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    margin-top: 50px;
    padding: 100px 0 80px;
}
.bg{
    text-align: center;
}
.bg h1{
    color: (#ff0,#f0f,#f00,#00f,#0f0);
    font-size: 36px;
    padding: 40px 0 0;
    margin-bottom: 20px;
}
.bg a{
    color: #43121d;
    font-size: 20px;
}
.bg a i{
    font-size: 20px;
}
.bg p{
    color: #555;
    font-size: 16px;
    padding: 20px 0 20px;
}
.foods{
    padding: 80px 0;
    text-align: center;
}
.foods h3{
    color: #43121d;
    font-size: 36px;
    margin: 0 0 15px;
}
.foods p{
    color: #555;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0 159px;
    line-height: 1.5;
}
.img-cs{
    width: 100%;
    margin-bottom: 60px;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-image-slice:1 ;
}
.img-cs img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.img-text{
    padding: 15px;
}
.img-text h4{
    color: #43121d;
    font-size: 18px;
}
.img-text p{
    color: #555;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}
.new span{
    color: #a82d49;
    font-size: 24px;
    font-weight: bold;
}
.new del{
    color: #999;
    font-size: 24px;
    font-weight: bold;
}
.order {
    text-align: center;
}
.order a{
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin-bottom: 80px;
    background-color:rgb(226, 217, 217) ;
    background: -webkit-linear-gradient(0deg, #c662cf 0%, #0d8fda 100%);
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-image-slice:1 ;
    color: #a82d49;
    transition: .2s;
}
.order a:hover{
    transform: scale(0.8);
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-image-slice:1 ;
    color: #222222;
}
.test{
    text-align: center;
    background-image:linear-gradient(-45deg,rgb(0, 204, 255),rgb(255, 0, 0)) ;
}
.test-people img{
    max-width: 80px;
    border-radius: 50%; 
    transition: .5s linear;
}
.test-people img:hover{
    transform: scale(1.3);
}
.test-people{
    background: #fff;
    padding: 80px 0;
    border-radius: 20px;
}
.txt h3{
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 15px;
}
.txt{
    padding: 80px 0;
}
.test-people p{
    color: #111;
    font-size: 21px;
    margin: 0 0 10px;
    padding: 0 218px 20px;
}
.test-people span{
    color: #a82d49;
    font-size: 16px;
    font-weight: bold;
}
.circle i{
    color: #d18a99;
    padding: 30px 5px 60px 0;
}
i.active{
    color: #fff;
}
.ask{
    text-align: center;
    padding: 50px 0;
}
.ask h3{
    color: #43121d;
    font-size: 36px;
    font-weight: bold;
}
.food{
    padding: 0 15px;
}
.food span{
    color: #f98169;
    font-size: 28px;
}
.food h4{
    color: #222;
    font-size: 18px;
    margin-bottom: 10px;
}
.food p{
    color: #555;
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.food-item{
    padding-bottom:50px ;
}
.fresh-img{
    background: url(http://demo.tutsflow.com/foodera/images/parallax/2.jpg);
    padding: 80px 0;
    background-position: center ;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}
.fresh{
    text-align: center;
}

.fresh h4{
    color: rgb(155, 142, 142);
    font-size: 28px;
}
.fresh a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #a82d49;
    border: 3px solid #a82d49;
    padding: 10px 25px;
    transition: .5s;
}
.fresh a:hover {
    background-color: #2d54a8;
    border: 3px solid #2d54a8;
}
.hurry{
    text-align: center;
    padding: 60px 0;
}
.hurry h1{
    color: #555;
    font-size: 36px;
}
.hurry p{
    color: #555;
    letter-spacing: 0.5;
    margin:20px 0;
    font-weight: bold;
}
.button{
   text-align: center;

}
.button-1 input{
    padding-top:10px ;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 15px;
    border-radius: 25px;
    border: 1px solid #ca1bca;
    outline: none;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
.button-1 input::placeholder{
    color: #1500d1;
}
.button-1 input:hover{
    background-color: rgb(159, 100, 165);
    transition: .5s;
}
.button-2 a{
    color: #1500d1;
    font-size: 18px;
    padding-top: 15px ;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left:40px;
    border-radius: 25px;
    border-radius: 30px;
    border: 2px solid #a82d49;
    font-weight: bold;
    background-color: rgb(203, 159, 207);
    transition: .5s;
}
.button-2 a:hover{
    color: #a82d49;
    border: 2px solid #a82d49;
    background-color: #fff;
}
.web{
    text-align: center;
    padding: 120px 0;
    margin-top: 30px;
    background-color: #81657E;
}
.web-item a{
    color: #fff;
    font-size: 16px;
    padding: 0 30px 0 0;
}
.web-it i{
    color: #fff;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    transition: .5s;
}
.web-it i:hover{
    color: rgb(60, 46, 182);
    transform: rotate(360deg);
}
.foot{
    text-align: center;
    padding: 0 0 30px 0;
    background-color: #81657E ;
}
.footer p{
    color: #fff;
    font-size: 14px;
}


@media (min-width: 768px){
     
}
@media (max-width:992px){
    .nav-menu ul{
        display: none;
    }
    .bar-item{
        display: block;
    }
    .head-left h1{
         font-size: 20px;
    }
    
}
@media (max-width:600px){
    .img-word a{
        margin: 0;
        padding: 20px 20px;
    }
    .img-word h3{
        font-size: 25px;
    }
    .bg h1{
        font-size: 20px;
    }
}