*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Quicksand', sans-serif
}
.container{
    width: 80%;
    margin: auto;
}
.navigation{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul a{
    color: #a82d49;
    font-size: 17px;
    font-weight: bold;
    padding: 40px 12px 35px;
}
ul li.active a{
    background-color: #a82d49;
    color: #fff;
    border: 4px solid #a82d49;
    margin: 25px 0 0;
    padding: 10px 23px;
    transition: .5s linear;
}
ul li.active a:hover {
    border: 4px solid #a82d49;
    background-color: #fff;
    color: #a82d49;
}
.fruit{
    background-image: url(../images/3.jpg);
    height: 90vh;
    width: 100%;
    background-size: contain;
    background-position:right;
    background-repeat: no-repeat;
    position: relative;
}
.head-left{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-80%,-80%);
    z-index: 5;
    width: 50%;
    height: 60%;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color:none;
    color: rgb(172, 30, 30);
    font-weight: bold;
    border: 10px inset rgb(14, 144, 180);
}
.head-left h1{
    color: #43121d;
    font-size: 48px;
    margin: 10px 20px 25px;
    font-family: 'Quicksand', sans-serif
}
.head-left p{
    color: #555555;
    font-size: 16px;
    font-weight: lighter;
    margin: 0 100px 10px;
    padding: 0 0 13px;
    font-family: 'Quicksand', sans-serif
}
.head-left .btn a{
    display: flex;
    display: block;
    font-family: 'Quicksand', sans-serif;
    padding: 11px 18px;
    color: #fff;
    background-color:#a82d49 ;
    border: 3px solid #a82d49;
    margin-left:  230px;
    margin-right: 230px;
    margin-bottom: 20px;
    transition: .5s linear;
}
.head-left .btn-2 a{
    display: block;
    font-family: 'Quicksand', sans-serif;
    padding: 11px 18px;
    color: #444444;
    background-color:rgb(226, 217, 217) ;
    border: 3px solid rgb(226, 217, 217);
    margin-left:  230px;
    margin-right: 230px;
    margin-bottom: 20px;
    transition: .5s linear;
}
.head-left .btn a:hover{
    background-color: #fff;
    border: 3px solid #a82d49;
    color: #a82d49;
}
.head-left .btn-2 a:hover{
    background-color: #fff;
    border: 3px solid #a82d49;
    color: #a82d49;
}
.all-box {
   display: flex;
   justify-content: space-between;
   background-color:#a82d49 ;
   padding: 50px 0;
}
.box{
    margin: 0 70px;
}
.box span{
    color: #fff;
    font-size: 40px;
}   
.box h2{
    color: #fff;
    font-size: 12px;
    margin: 0 20px;
}
.img-item img{
    width: 100%;
    
}
.img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 100px 0 0;
}
.img h3{
    color: #43121d;
    font-size: 32px;
    display: block;
    padding: 0 30px;
}
.img p{
    color: #555555;
    font-size: 16px;
    margin: 0 0 10px;
    padding: 20px 30px;
}
.img a{
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: 3px solid#a82d49 ;
    background-color: #a82d49;
    padding: 11px 28px;
    margin-right: 180px;
    margin-left: 25px;
    transition: .5s linear;
}
.img a:hover{
    background-color: #fff;
    border: 3px solid #a82d49;
    color: #a82d49;
}
